{% load static %}

<div class="row mb-2">
    <div class="col-4 col-sm-2 text-center">
        <img src="{% static 'img/blank_user.png' %}" class="img-fluid icon" alt="profile icon" />
    </div>
    <div class="col-8 col-sm-10">
        <h5>Add Comment...</h5>
        <form action="{% url 'blog:new_comment' post.id post.slug %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form.text }}
            </div>
            <button class="btn btn-outline-dark raise-up-2-hover" type="submit">Post</button>
        </form>
    </div>
</div>