<div id="comments" class="card mt-5">
    <div class="card-header bg-dark">
        <h4 class='title text-light p-0 m-0'>Comments</h4>
    </div>
    <div class="card-body">
        {% if post.comment_set.all.count > 0 %}
        {% for comment in post.comment_set.all %}
        {% include 'blog/includes/comment.html' %}
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            {% include "blog/includes/forms/new_comment.html" %}

        {% else %}
            {% include 'blog/includes/forms/login_to_comment.html' %} 
        {% endif %}
    </div>
</div>