{% load static markdown %}

<div class="col-md-6 col-lg-4 col-xs-12">
    <div class="card kpw--card-equal-height">
        <div class="card-header bg-dark">
            <h4 class='title text-light p-0 m-0'>{{ post.title }}</h4>
        </div>
        {% if post.image %}
        <img src="/media/{{ post.image }}" class="img-fluid cropped-small-post-image" alt="">
        {% else %}
        <img src="{% static 'blog/default.jpeg' %}" class="img-fluid" alt="">
        {% endif %}
        <div class="card-body">
            {{ post.preview_text|truncatewords:20 }}
            <a class="font-weight-bold text-info" href="{% url 'blog:post_detail' post.id post.slug %}">
                continue reading
            </a>
        </div>
        <div class="card-footer w-100 text-muted py-1">
            <div class="row">
                <span class="post-date font-9 float-right mx-auto">
                    {{ post.updated_at }}
                </span>
            </div>
            <div class="row px-3">
                {% for tag in post.tags.all %}
                <a href="{% url 'blog:list_result' tag.name %}" class="no-hover-style">
                    <span class="badge badge-pill badge-dark px-2 mx-1">{{ tag.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>