{% load get_item %}

<div class="col-xs-12 card">
    <div class="card-header">
        By date
    </div>

    <div class="card-body">
        <ul class="post-search-dates">
            {% for year in post_meta_info %}
            <li x-data="{open: false}">
                <button class="plus-minus-wrapper" @click="open = !open">
                    <span
                        class="vertical"
                        :class="open ? 'rotate-vertical': '' "></span>
                    <span
                        class="horizontal"
                    ></span>
                </button>
                <a
                    href="">
                    {{year}}
                    <span class="badge badge-dark">
                        {{post_meta_info|get_item:year|get_item:'count'}}
                    </span>
                </a>
                <ul class="months">
                    {% for month in post_meta_info|get_item:year %}
                    {% if month != 'count' %}
                    <li x-show="open">
                        <a
                            href="">
                            {{month}}
                            <span class="badge badge-dark">
                                {{post_meta_info|get_item:year|get_item:month}}
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>