{% load get_item %} <div class="col-xs-12 card">
    <div class="card-header">
        By date
    </div>
    <div class="card-body">
        <ul class="post-search-dates">
            {% for year in post_meta_info %}
            <li
                x-data="{open: {% if forloop.first %}true{% else %}false{% endif %}}">
                <div class="row">
                    <div class="col">
                        <button class="plus-minus-wrapper" @click="open = !open">
                            <span class="vertical" :class="open ? 'rotate-vertical': '' "></span>
                            <span class="horizontal"></span>
                        </button>

                        <a href="">
                            {{year}}
                            <span class="badge badge-dark">
                                {{post_meta_info|get_item:year|get_item:'count'}}
                            </span>
                        </a>
                    </div>
                </div>

                <ul class="months ml-4 ml-sm-0"
                    x-show="open"
                    {% include 'core/includes/animations/slide_down_fade_out.html' %}>
                    {% for month in post_meta_info|get_item:year %}
                    {% if month != 'count' %}
                    <li>
                        <a href="">
                            <div class="row">
                                <div class="col">
                                    {{month}}
                                    <span class="badge badge-dark vertical-aligned-pills">
                                        {{post_meta_info|get_item:year|get_item:month}}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>