{% extends 'core/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
<div class="card">
    <table class="table">
        <thead class="thead-inverse bg-dark text-light">
            <tr>
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <td>
                    <a href="{% url 'forum:board_topics' board.slug board.id%}">{{ board.name }}</a>
                    <small class="text-muted d-block">{{ board.description }}</small>
                </td>
                <td class="align-middle">{{board.post_count}}</td>
                <td class="align-middle">{{board.topics.all|length}}</td>
                <td class="align-middle">{{board.latest_post_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}