{% extends 'core/base.html' %}

{% block title %}
New Post
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'forum:home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:board_topics' board.slug board.pk %}">{{board.name}}</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:topic' board.slug topic.id %}">{{topic.subject}}</a></li>
<li class="breadcrumb-item"><a href=""></a>New Post</li>
{% endblock breadcrumb %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-info">Post</button>
</form>
{% endblock content %}