{% extends 'core/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'forum:home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:board_topics' board.slug board.id %}">{{ board.name }}</a>
<li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock breadcrumb %}

{% block content %}
<h2>{{ topic.subject }}</h2>
{% for post in topic.posts.all %}
{% include 'forum/includes/post.html' %}
{% endfor %}
<div class='row'>
    <div class="col">
        <a href="{% url 'forum:new_post' board.slug topic.id %}" role='button' class="btn btn-dark text-light btn-block">
            Reply
        </a>
    </div>
</div>
{% endblock content %}