.navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 767px) {
  .col-xs-12 {
    margin-bottom: 20px;
  }
}
.navbar-toggler {
  border: none !important;
}
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.card {
  border: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fcfcfc;
}
.no-hover-style:hover {
  text-decoration: none;
}
body {
  color: #333;
  background-image: url(../img/dot-grid-light.png);
}
img.icon {
  max-height: 100px;
}
