.highlight {
  margin-bottom: 10px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.code-block .highlight pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: normal;
  white-space: pre;
}
.code-block .code-theme-toggle {
  padding: 10px;
  float: right;
  position: relative;
  right: 0;
  top: 0;
  border: none;
  background: none;
}
.code-block.light * {
  color: black;
}
.code-block.dark * {
  color: white;
}
.dark {
  /* Comment */
  /* Error */
  /* Escape */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Function.Magic */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable.Magic */
}
.dark .highlight .hll {
  background-color: #404040;
}
.dark .highlight {
  background: #202020;
  color: #d0d0d0;
}
.dark .highlight .c {
  color: #999999;
  font-style: italic;
}
.dark .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.dark .highlight .esc {
  color: #d0d0d0;
}
.dark .highlight .g {
  color: #d0d0d0;
}
.dark .highlight .k {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .l {
  color: #d0d0d0;
}
.dark .highlight .n {
  color: #d0d0d0;
}
.dark .highlight .o {
  color: #d0d0d0;
}
.dark .highlight .x {
  color: #d0d0d0;
}
.dark .highlight .p {
  color: #d0d0d0;
}
.dark .highlight .ch {
  color: #999999;
  font-style: italic;
}
.dark .highlight .cm {
  color: #999999;
  font-style: italic;
}
.dark .highlight .cp {
  color: #cd2828;
  font-weight: bold;
}
.dark .highlight .cpf {
  color: #999999;
  font-style: italic;
}
.dark .highlight .c1 {
  color: #999999;
  font-style: italic;
}
.dark .highlight .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}
.dark .highlight .gd {
  color: #d22323;
}
.dark .highlight .ge {
  color: #d0d0d0;
  font-style: italic;
}
.dark .highlight .gr {
  color: #d22323;
}
.dark .highlight .gh {
  color: #ffffff;
  font-weight: bold;
}
.dark .highlight .gi {
  color: #589819;
}
.dark .highlight .go {
  color: #cccccc;
}
.dark .highlight .gp {
  color: #aaaaaa;
}
.dark .highlight .gs {
  color: #d0d0d0;
  font-weight: bold;
}
.dark .highlight .gu {
  color: #ffffff;
  text-decoration: underline;
}
.dark .highlight .gt {
  color: #d22323;
}
.dark .highlight .kc {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .kd {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .kn {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .kp {
  color: #6ab825;
}
.dark .highlight .kr {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .kt {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .ld {
  color: #d0d0d0;
}
.dark .highlight .m {
  color: #3677a9;
}
.dark .highlight .s {
  color: #ed9d13;
}
.dark .highlight .na {
  color: #bbbbbb;
}
.dark .highlight .nb {
  color: #24909d;
}
.dark .highlight .nc {
  color: #447fcf;
  text-decoration: underline;
}
.dark .highlight .no {
  color: #40ffff;
}
.dark .highlight .nd {
  color: #ffa500;
}
.dark .highlight .ni {
  color: #d0d0d0;
}
.dark .highlight .ne {
  color: #bbbbbb;
}
.dark .highlight .nf {
  color: #447fcf;
}
.dark .highlight .nl {
  color: #d0d0d0;
}
.dark .highlight .nn {
  color: #447fcf;
  text-decoration: underline;
}
.dark .highlight .nx {
  color: #d0d0d0;
}
.dark .highlight .py {
  color: #d0d0d0;
}
.dark .highlight .nt {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .nv {
  color: #40ffff;
}
.dark .highlight .ow {
  color: #6ab825;
  font-weight: bold;
}
.dark .highlight .w {
  color: #666666;
}
.dark .highlight .mb {
  color: #3677a9;
}
.dark .highlight .mf {
  color: #3677a9;
}
.dark .highlight .mh {
  color: #3677a9;
}
.dark .highlight .mi {
  color: #3677a9;
}
.dark .highlight .mo {
  color: #3677a9;
}
.dark .highlight .sa {
  color: #ed9d13;
}
.dark .highlight .sb {
  color: #ed9d13;
}
.dark .highlight .sc {
  color: #ed9d13;
}
.dark .highlight .dl {
  color: #ed9d13;
}
.dark .highlight .sd {
  color: #ed9d13;
}
.dark .highlight .s2 {
  color: #ed9d13;
}
.dark .highlight .se {
  color: #ed9d13;
}
.dark .highlight .sh {
  color: #ed9d13;
}
.dark .highlight .si {
  color: #ed9d13;
}
.dark .highlight .sx {
  color: #ffa500;
}
.dark .highlight .sr {
  color: #ed9d13;
}
.dark .highlight .s1 {
  color: #ed9d13;
}
.dark .highlight .ss {
  color: #ed9d13;
}
.dark .highlight .bp {
  color: #24909d;
}
.dark .highlight .fm {
  color: #447fcf;
}
.dark .highlight .vc {
  color: #40ffff;
}
.dark .highlight .vg {
  color: #40ffff;
}
.dark .highlight .vi {
  color: #40ffff;
}
.dark .highlight .vm {
  color: #40ffff;
}
.dark .highlight .il {
  color: #3677a9;
}
.light .highlight .hll {
  background-color: #ffffcc;
}
.light .highlight {
  background: #f8f8f8;
}
.light .highlight .c {
  color: #408080;
  font-style: italic;
}
/* Comment */
.light .highlight .err {
  border: 1px solid #FF0000;
}
/* Error */
.light .highlight .k {
  color: #008000;
  font-weight: bold;
}
/* Keyword */
.light .highlight .o {
  color: #666666;
}
/* Operator */
.light .highlight .ch {
  color: #408080;
  font-style: italic;
}
/* Comment.Hashbang */
.light .highlight .cm {
  color: #408080;
  font-style: italic;
}
/* Comment.Multiline */
.light .highlight .cp {
  color: #BC7A00;
}
/* Comment.Preproc */
.light .highlight .cpf {
  color: #408080;
  font-style: italic;
}
/* Comment.PreprocFile */
.light .highlight .c1 {
  color: #408080;
  font-style: italic;
}
/* Comment.Single */
.light .highlight .cs {
  color: #408080;
  font-style: italic;
}
/* Comment.Special */
.light .highlight .gd {
  color: #A00000;
}
/* Generic.Deleted */
.light .highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.light .highlight .gr {
  color: #FF0000;
}
/* Generic.Error */
.light .highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.light .highlight .gi {
  color: #00A000;
}
/* Generic.Inserted */
.light .highlight .go {
  color: #888888;
}
/* Generic.Output */
.light .highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.light .highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.light .highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.light .highlight .gt {
  color: #0044DD;
}
/* Generic.Traceback */
.light .highlight .kc {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Constant */
.light .highlight .kd {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Declaration */
.light .highlight .kn {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Namespace */
.light .highlight .kp {
  color: #008000;
}
/* Keyword.Pseudo */
.light .highlight .kr {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Reserved */
.light .highlight .kt {
  color: #B00040;
}
/* Keyword.Type */
.light .highlight .m {
  color: #666666;
}
/* Literal.Number */
.light .highlight .s {
  color: #BA2121;
}
/* Literal.String */
.light .highlight .na {
  color: #7D9029;
}
/* Name.Attribute */
.light .highlight .nb {
  color: #008000;
}
/* Name.Builtin */
.light .highlight .nc {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Class */
.light .highlight .no {
  color: #880000;
}
/* Name.Constant */
.light .highlight .nd {
  color: #AA22FF;
}
/* Name.Decorator */
.light .highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.light .highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.light .highlight .nf {
  color: #0000FF;
}
/* Name.Function */
.light .highlight .nl {
  color: #A0A000;
}
/* Name.Label */
.light .highlight .nn {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Namespace */
.light .highlight .nt {
  color: #008000;
  font-weight: bold;
}
/* Name.Tag */
.light .highlight .nv {
  color: #19177C;
}
/* Name.Variable */
.light .highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.light .highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.light .highlight .mb {
  color: #666666;
}
/* Literal.Number.Bin */
.light .highlight .mf {
  color: #666666;
}
/* Literal.Number.Float */
.light .highlight .mh {
  color: #666666;
}
/* Literal.Number.Hex */
.light .highlight .mi {
  color: #666666;
}
/* Literal.Number.Integer */
.light .highlight .mo {
  color: #666666;
}
/* Literal.Number.Oct */
.light .highlight .sa {
  color: #BA2121;
}
/* Literal.String.Affix */
.light .highlight .sb {
  color: #BA2121;
}
/* Literal.String.Backtick */
.light .highlight .sc {
  color: #BA2121;
}
/* Literal.String.Char */
.light .highlight .dl {
  color: #BA2121;
}
/* Literal.String.Delimiter */
.light .highlight .sd {
  color: #BA2121;
  font-style: italic;
}
/* Literal.String.Doc */
.light .highlight .s2 {
  color: #BA2121;
}
/* Literal.String.Double */
.light .highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.light .highlight .sh {
  color: #BA2121;
}
/* Literal.String.Heredoc */
.light .highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.light .highlight .sx {
  color: #008000;
}
/* Literal.String.Other */
.light .highlight .sr {
  color: #BB6688;
}
/* Literal.String.Regex */
.light .highlight .s1 {
  color: #BA2121;
}
/* Literal.String.Single */
.light .highlight .ss {
  color: #19177C;
}
/* Literal.String.Symbol */
.light .highlight .bp {
  color: #008000;
}
/* Name.Builtin.Pseudo */
.light .highlight .fm {
  color: #0000FF;
}
/* Name.Function.Magic */
.light .highlight .vc {
  color: #19177C;
}
/* Name.Variable.Class */
.light .highlight .vg {
  color: #19177C;
}
/* Name.Variable.Global */
.light .highlight .vi {
  color: #19177C;
}
/* Name.Variable.Instance */
.light .highlight .vm {
  color: #19177C;
}
/* Name.Variable.Magic */
.light .highlight .il {
  color: #666666;
}
/* Literal.Number.Integer.Long */
