@media only screen and (max-width: 768px) {
    div.dropdown-menu {
        /* transition: opacity 6s, transform 6s; */
        /* transform: scale(1, 0); */
        /* /* transform: scaleX(.9); */
        /* opacity: 0;  */
        /* display: table-column; */
    }

    div.dropdown-menu.show {
        /* height: auto; */
        /* opacity: 1; */
        /* transform: scale(1, 1) !important; */
    }
}

/* @media only screen and (min-width: 768px) {
    div.dropdown-menu {
        transition: opacity .1s, transform .1s;
        transform: scale(.7, .7);
        opacity: 0;
        display: table-column;
    }

    div.dropdown-menu.show {
        height: auto;
        opacity: 1;
        transform: scale(1, 1) !important;
    }
} */