/* Essentially a recreation of the tailwindcss classes I use */

/* width */
@media only screen and (max-width: 768px) {
    .w-sm-100 {
        width: 100% !important;
    }
}

/* margin */
.-ml-30 {
    margin-left: -30px;
}

/* transition */

.transition {
    transition-property: all;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

/* opacity */
.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

/* scale  */
.scale-90 {
    transform: scale(.9, .9);
}

/* duration */
.duration-150 {
    transition-duration: .15s;
}

.duration-200 {
    transition-duration: .2s;
}

.duration-300 {
    transition-duration: .3s;
}

.duration-500 {
    transition-duration: .5s;
}

.duration-1000 {
    transition-duration: 1s;
}

.duration-1500 {
    transition-duration: 1.5s;
}

.duration-3000 {
    transition-duration: 3s;
}


.height-0 {
    height: 0;
    max-height: 0;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.height-auto {
    height: auto;
}

.max-height-200 {
    max-height: 200px;
}

.height-test {
    height: 58px;
}

.raise-up-2-hover:hover {
    transform: translateY(-2px);
}