{% extends 'core/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock breadcrumb %}

{% block content %}
{% for post in posts %}
    {% if forloop.first and post.image %}
        {% include 'blog/includes/featured_post.html' %}
        <div class="row">

    {% else %}
        {% if forloop.first %}
        <div class="row">
        {% endif %}
        {% include 'blog/includes/post_home.html' %}
    {% endif %}
{% endfor %}
</div>
{% endblock content %}