{% extends 'core/base.html' %}

{% load static %}
{% load markdown %}

{% block open_graph %}
{% include 'blog/includes/open_graph.html' %}
{% endblock open_graph %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="text-info" href="{% url 'blog:home' %}">Home</a></li>
<li class="breadcrumb-item active">{{ post.title }}</li>
{% endblock breadcrumb %}

{% block content %}

<div class="card">

    <div class="card-header bg-dark">
        <h2 class='title text-light p-0 m-0'>{{ post.title }}</h2>
    </div>
    {% if post.image %}
    <img src="/media/{{ post.image }}" class="img-fluid" alt="">
    {% endif %}
    <div class="card-body">
        <div class="card-text">
            {{ post.content|markdown|safe }}
        </div>
    </div>
</div>

<div class="previous-next-wrapper mt-3 {% if not post.get_previous %}justify-content-end{% endif %}">
    {% if post.get_previous %}
    <a href="{% url 'blog:post_detail' post.previous.id post.previous.slug %}" class="previous-wrapper col-6 col-xl-2" onmouseenter="hoverLeftOn()" onmouseleave="hoverLeftOff()">
        <h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" id="prev-fill" class="bi bi-caret-left-fill d-none"
                viewBox="0 0 16 16">
                <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" id="prev-nofill" class="bi bi-caret-left"
                viewBox="0 0 16 16">
                <path
                    d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
            </svg>
        </h3>
        <p class="lead">{{post.previous.title}}</p>
    </a>
    {% endif %}

    {% if post.get_next %}
    <a href="{% url 'blog:post_detail' post.next.id post.next.slug %}" class="next-wrapper col-6 offset-xl-8 col-xl-2" onmouseenter="hoverRightOn()" onmouseleave="hoverRightOff()">
        <h3 class="text-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" id="next-fill" class="bi bi-caret-right-fill d-none"
                viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" id="next-nofill" class="bi bi-caret-right"
                viewBox="0 0 16 16">
                <path
                    d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
            </svg>
        </h3>
        <p class="text-right lead">{{post.next.title}}</p>
    </a>

    {% endif %}
</div>

{% include 'blog/includes/comments.html' %}

{% endblock content %}