<footer class="footer mt-4 py-3 bg-dark text-white-50">
    <div class="container text-center">
        <div class="social-wrapper font-xl">
            <a href="https://twitter.com/kalenpw" class="no-hover-style p-2 text-light font-xl">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/kalenpw" class="no-hover-style p-2 text-light">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/kalenpw/" class="no-hover-style p-2 text-light">
                <i class="fab fa-linkedin"></i>
            </a>

        </div>
        <p class="text-light m-0">
            <small>&copy; Kalen Williams</small>
        </p>
    </div>
</footer>