{% load static get_setting %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"
            href="{% url 'index' %}">{% get_setting "APP_NAME" %}</a>

        <button class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#mainMenu"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse"
            id="mainMenu">

            <div class="navbar-nav form-inline ml-auto">

                {% include 'core/includes/navbar/search.html' %}

                {% if user.is_authenticated %}
                <li class="nav-item dropdown mr-auto w-sm-100">
                    <a class="nav-link dropdown-toggle"
                        href="#"
                        id="userMenu"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="userMenu">
                        <a class="dropdown-item"
                            href="{% url 'account:change_password' %}">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{% url 'account:logout' %}">Log out</a>
                    </div>
                </li>

                {% else %}
                <div class="form-inline mr-auto">
                    <a href="{% url 'account:login' %}"
                        class="btn btn-outline-light">log in</a>
                    <a href="{% url 'account:signup' %}"
                        class="btn btn-info ml-2">sign up</a>
                </div>

                {% endif %}

            </div>

        </div>
    </div>
</nav>