{% load static get_setting %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"
            href="{% url 'index' %}">{% get_setting "APP_NAME" %}</a>

        <button class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#mainMenu"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse"
            id="mainMenu">

            <div class="navbar-nav form-inline ml-auto my-1">

                {% include 'core/includes/navbar/search.html' %}

                {% if user.is_authenticated %}
                <div x-data="{open: false}"
                    @click="open = !open"
                    @click.away="open = false"
                    class="nav-item dropdown mr-auto w-sm-100">
                    <a class="nav-link dropdown-toggle py-0"
                        href="#"
                        id="userMenu"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div x-show="open"
                        x-transition:enter="transition duration-150"
                        x-transition:enter-start="opacity-0 sm-scale-y-0 scale-70"
                        x-transition:enter-end=""
                        x-transition:leave="transition duration-100"
                        x-transition:leave-start=""
                        x-transition:leave-end="sm-scale-y-0 opacity-0"

                        class="dropdown-menu dropdown-menu-right show"
                        aria-labelledby="userMenu">
                        <a class="dropdown-item"
                            href="{% url 'account:change_password' %}">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            href="{% url 'account:logout' %}">Log out</a>
                    </div>
                </div>

                {% else %}
                <div class="form-inline mr-auto">
                    <a href="{% url 'account:login' %}"
                        class="btn btn-outline-light">log in</a>
                    <a href="{% url 'account:signup' %}"
                        class="btn btn-info ml-2">sign up</a>
                </div>

                {% endif %}

            </div>

        </div>
    </div>
</nav>